*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding-top: 60px;
  background: #000000 !important;
  box-sizing: border-box;
}
nav{
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9999999;
  margin-top: -60px;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  color: white !important;
}
nav label{
  width: 40px;
  height: 40px;
  background: none;
  margin-right: auto;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: none;
}
#check{
  visibility: hidden;
}
/*Responsive navigation*/
@media (max-width:700px) {
  nav ul{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100vh;
    padding: 10px;
    background: green;
    transition: 0.3s all;
  }
  nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;
  }
  nav label{
    display: block;
  }
  #check:checked ~ ul{
    margin-top: 60px;
  }
}
/*contact form*/
#form-background{

  height: 600px;
  width: 600px;
  box-sizing: border-box;
  margin-top: 20px;
  position: relative;
  padding: 100px;
}
#form-background::before{
    content: "";
  position: absolute;
  background: radial-gradient(circle, blue,transparent);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 50%;
}
form{
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
}
/*responsive form*/
@media(max-width:700px){
  #form-background{
    width: 100%;
    height: fit-content;
    padding: 20px;
  }
}